---
import Layout from '../layouts/Layout.astro';
---

<Layout title='NITO'>
  <main>
    <div class='hero-container'>
      <img class='hero' src='/images/hero.svg' alt='NITO Logo' />
    </div>

    <p class='description'>NITO はトランポリングループのアプリです。</p>

    <ul class='store-container'>
      <li class='store'>
        <a
          href='https://apps.apple.com/jp/app/nito/id6472990576?itsct=apps_box_badge&itscg=30200'
          ><img
            alt='Download on the App Store'
            src='/images/app-store-badge.svg'
            height='80px'
          />
        </a>
      </li>

      <li class='store'>
        <a
          href='https://play.google.com/store/apps/details?id=club.nito.app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
          ><img
            alt='Get it on Google Play'
            src='/images/google-play-badge.png'
            height='80'
          /></a
        >
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #5a5a5a;
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    width: 100%;
    max-width: 800px;
  }

  .description {
    margin: 4rem 0;
    text-align: center;
  }

  .store-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }

  @media (prefers-color-scheme: dark) {
    main {
      color: #dddddd;
    }
  }
</style>
