name: "Deploy Cloudflare Pages"

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      gh-app-id:
        required: true
        type: string
      pr-comment-enabled:
        required: true
        type: boolean
    secrets:
      gh-app-private-key:
        required: true
      cloudflare-account-id:
        required: true
      cloudflare-api-token:
        required: true

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  deploy-cloudflare-pages:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@d6e32c1796099e0f1f3ac741c220a8b7eae9e5dd # v2.0.6

      - name: Install deps
        run: bun install

      - name: Build
        run: bun run build

      # https://github.com/marketplace/actions/create-github-app-token
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@31c86eb3b33c9b601a1f60f98dcbfd1d70f379b4 # v1.10.3
        id: app-token
        with:
          app-id: ${{ inputs.gh-app-id }}
          private-key: ${{ secrets.gh-app-private-key }}

      # https://github.com/marketplace/actions/cloudflare-pages-github-action
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1.5.0
        id: cloudflare-pages
        with:
          apiToken: ${{ secrets.cloudflare-api-token }}
          accountId: ${{ secrets.cloudflare-account-id }}
          projectName: nito
          directory: ./dist
          gitHubToken: ${{ steps.app-token.outputs.token }}
          branch: ${{ inputs.branch }}

      # https://github.com/marketplace/actions/lighthouse-check
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@a80267da2e0244b8a2e457a8575fc47590615852 # v12.0.1
        with:
          gitHubAccessToken: ${{ steps.app-token.outputs.token }}
          locale: ja
          prCommentEnabled: ${{ inputs.pr-comment-enabled }}
          urls: ${{ steps.cloudflare-pages.outputs.url }}
